@using Squawkings.Models
@using StackExchange.Profiling
@{
    Bundles.Reference("Content");
}
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        @Bundles.RenderStylesheets()
        <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"> </script>
    </head>
    <body>
        <div class="header-background">
            <div class="container">
                <ul class="menu">
                    @if(User.Identity.IsAuthenticated){
                        <li class="menu-item">@(@Html.MenuLink("Home", "Index", "Home", null))</li>
                    }
                    <li class="menu-item">@(@Html.MenuLink("Global", "Index", "Global", null))</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="menu-item">@(@Html.MenuLink("Profile", "IndexById", "Profile", new {userId = User.Identity.Id()}))</li>
                    }          
                    <li class="menu-item">@(@Html.MenuLink("Logon", "Index", "Logon", null))</li>
                </ul>
            </div>
        </div>
        @MiniProfiler.RenderIncludes(RenderPosition.Right)
        @RenderBody()
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Action("Total", "Home")
        }

    </body>
</html>