@model Squawkings.Controllers.InputData
<div class="header-background">
</div>
<div class="logon-container">
    <form action="" method="post">
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="username">
        @Html.TextBoxFor(m => m.UserName, new { placeholder = "username" })
        @Html.ValidationMessage("UserName")
    </div>
    <div class="password">
        @Html.PasswordFor(m => m.Password, new { placeholder = "password" })
        @Html.ValidationMessage("Password")
    </div>
    <div>
        <label class="checkbox">
            <input type="checkbox" name="rememberMe" />
            Remember me
        </label>
    </div>
    <div class="logon">
        <input type="submit" value="Log in" class="btn btn-info login_button" />
    </div>
    </form>
</div>
