@using Squawkings.Controllers
@using Squawkings.Models
@model Squawkings.Controllers.ProfileSquawksInputModel
<div class="container">
  <div class="inner-container">
    @using (Html.Form<ProfileSquawksInputModel>())
    {
        @Html.AntiForgeryToken()
        @Html.Input(m => m.FollowerInfo.Following)
        @Html.Input(m => m.UserId)

        <div class="profile-container row-fluid">
            <div class="profile span10">
                <div class="avatar">
                    <a href="Image"> <img src="@(Model.AvatarUrl)"  class="avator-image"/></a>
                </div>
                <div class="profile-username">
                    @Model.UserName                    
                </div>
                <div class="fullName">
                    @Model.FullName
                </div>
                <div class="bio-content">
                    @Model.Bio
                </div>
              
            </div> 
            <div class="followers span2">
                <strong>@Model.FollowerInfo.Followyees</strong> Followers
                <hr />
                <strong>@Model.FollowerInfo.Followers</strong> Following
                <hr />
                @if (!Model.FollowerInfo.IsSameUser)
                {
                    if (Model.FollowerInfo.Following)
                    {
                        @Html.Submit("Unfollow").AddClass("btn")
                        ;
                    }
                    else
                    {
                        @Html.Submit("Follow").AddClass("btn")
                        ;
                    }
                }
            </div>
        </div>

        <div class="squawks">
            @Html.Partial("_SquawksPartialView", Model.SquawksList)
        </div>
  
    }
          </div>
</div>